<footer class="bg-white rounded shadow p-5 mb-4 mt-4">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                &copy; <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">Finance <strong class="text-tertiary">v1.1</strong></a>
                - A Web App by <a href="https://github.com/DilanGrajales" target="_blank" class="text-info text-bold"><strong>Dilan Grajales</strong></a>.
            </p>
        </div>
    </div>
</footer>
