{% extends 'layouts/base.html' %}

{% block title %}Cuentas{% endblock title %}

{% block content %}
<!-- ? Apartado para mostrar mensajes -->
{% include 'mensajes.html' %}
<!-- ? ./Apartado para mostrar mensajes -->

<div class="row">
	<!-- ? Card efectivo -->
	{% include 'cards/efectivo.html' %}
	<!-- ? ./Card efectivo -->

	<!-- ? Card tarjeta -->
	{% include 'cards/tarjeta.html' %}
	<!-- ? ./Card tarjeta -->
</div>
{% endblock content %}


{% block javascripts %}
<script>
	// Ver detalles de cuenta efectivo
	$("#detalles-efectivo-btn").on("click", function () {
		$.ajax({
			url: 'tarjetas/1',
			type: 'GET',
			success: function (data) {
				window.location.href = "tarjetas/1";

			}
		});
	});

	// Ver detalles de cuenta tarjeta
	$("#detalles-tarjeta-btn").on("click", function () {
		$.ajax({
			url: 'tarjetas/2',
			type: 'GET',
			success: function (data) {
				window.location.href = "tarjetas/2";
			}
		});
	});
</script>
{% endblock javascripts %}