{% extends "layouts/base-fullscreen.html" %}

{% block title %} Contrasena cambiada {% endblock %} 

{% block content %}
    <div class="row justify-content-center form-bg-image">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500 text-center">
                <h5 class="mb-4">La contrasena se restablecio correctamente.</h5>
                <i class="far fa-check-circle text-success fa-7x mb-4"></i>
                <p class="text-center"><a href="{% url 'login' %}" class="d-flex align-items-center text-info justify-content-center">
                    Iniciar sesion
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
