{% extends "layouts/base-fullscreen.html" %}

{% block title %} Olvide mi contrasena {% endblock %} 

{% block content %}
    <div class="row justify-content-center form-bg-image">
        <p class="text-center"><a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
            <i class="fas fa-arrow-left mx-3"></i>
            Volver al inicio de sesion
            </a>
        </p>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                <h1 class="h3">¿Olvidaste tu contrasena?</h1>
                <p class="mb-4">No te preocupes, introduce tu correo electronico y te enviaremos un codigo para restablecer tu contrasena!</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <!-- Form -->
                    <div class="mb-4">
                        <label for="id_email">E-mail registrado</label>
                        <div class="input-group">
                            {{ form.email }}
                            <!-- <input type="email" class="form-control" name="email" id="email" placeholder="john@company.com" required autofocus> -->
                        </div>  
                    </div>
                    <!-- End of Form -->
                    <div class="d-grid">
                        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                        <button type="submit" class="btn btn-gray-800">Recuperar contrasena</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}