{% extends "layouts/base-fullscreen.html" %}

{% block title %} Restablecer contrasena {% endblock %} 

{% block content %}
    {% if validlink %}
    <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signin.svg">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                <div class="text-center text-md-center mb-4 mt-md-0">
                    <h1 class="mb-0 h3">Nueva contrasena</h1>
                </div>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <!-- Nueva contrasena -->
                    <div class="form-group mb-4">
                        <label for="id_new_password1">Nueva contrasena:</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2">
                                <span class="fas fa-unlock-alt"></span>
                            </span>
                            {{ form.new_password1 }}
                        </div>
                        <span class="text-error">{{ form.new_password1.errors }}</span>
                    </div>
                    <!-- ./Nueva contrasena -->
                    
                    <!-- Confirmar nueva contrasena -->
                    <div class="form-group mb-4">
                        <label for="id_new_password2">Confirmar contrasena:</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2">
                                <span class="fas fa-unlock-alt"></span>
                            </span>
                            {{ form.new_password2 }}
                        </div>
                        <span class="text-error">{{ form.new_password2.errors }}</span>
                    </div>
                    <!-- ./Confirmar nueva contrasena -->
                    
                    <div class="d-grid">
                        <button type="submit" name="login" class="btn btn-gray-800">Iniciar sesion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <h1 class="mb-0 h3">ENLACE INVALIDO. ESTE ENLACE YA HA SIDO UTILIZADO ANTERIORMENTE</h1>
    {% endif %}
{% endblock content %}