{% extends "layouts/base-fullscreen.html" %}

{% block title %} Correo enviado {% endblock %} 

{% block content %}
    <div class="row justify-content-center form-bg-image">
        <p class="text-center"><a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
            <i class="fas fa-arrow-left mx-3"></i>
            Volver al inicio de sesion
            </a>
        </p>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                El correo ha sido enviado con exito.
                <p class="mb-4">Le enviamos instrucciones por correo electrónico para configurar su contraseña.</p>
                <p class="mb-4">Si no han llegado en unos minutos, revise su carpeta de correo no deseado.</p>
            </div>
        </div>
    </div>
{% endblock content %}